@model UserRegisterVm
<div class="col-lg-6">
    <div class="login-reg-form-wrap signup-form">
        <h2>Singup Form</h2>
        <form method="post">
            @if (TempData["Succsess"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Succsess"]
                </div>
            }
            <div class="single-input-item">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" placeholder="Full Name" required />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="single-input-item">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" placeholder="Full Name" required />
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
            <div class="single-input-item">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Enter your Email" required />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" placeholder="Enter your Password" required />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" placeholder="Repeat your Password" required />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <div class="single-input-item">
                <div class="login-reg-form-meta">
                    <div class="remember-meta">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" asp-for="Subscribe">
                            <label class="custom-control-label" asp-for="Subscribe">Subscribe Our Newsletter</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-input-item">
                <button type="submit" class="btn">Register</button>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}