@model Category
<div class="container">
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <textarea asp-for="Name" class="ProductDetail"></textarea>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section scripts {
    @await Html.PartialAsync("_ValidationPartial")

    <script type=“module”>

        import {

        ClassicEditor,
        Essentials,
        Paragraph,
        Bold,
        Italic,
        Font

        } from ‘ckeditor5’;

        ClassicEditor
        .create(document.querySelector(‘.ProductDetail’), {

        plugins: [Essentials, Paragraph, Bold, Italic, Font], toolbar: [ ‘undo’, ‘redo’, ‘’, ‘bold’, ‘italic’, ‘’, ‘fontSize’, ‘fontFamily’, ‘fontColor’, ‘fontBackgroundColor’ ]

        .then(editor => {

        window.editor = editor;
        })

        .catch(error =>
        { console.error(error);
        });
    </script>

}
